<div>
    <h1 class="mat-headline">Sign in</h1>
    <p class="mat-body">Don't have an account? <a routerLink="/register">Register</a></p>
    <form #form="ngForm" (ngSubmit)="onSubmit(form, username, password)" class="container container-menu">
        <mat-form-field>
            <input matInput
                   type="text"
                   name="username"
                   placeholder="username"
                   required
                   [(ngModel)]="username"
                   [disabled]="submitting | async"/>
            <mat-error *ngFor="let error of usernameErrors | async">error: {{error}}</mat-error>
        </mat-form-field>
        <mat-form-field class="mb2">
            <input matInput
                   [(ngModel)]="password"
                   type="password"
                   name="password"
                   placeholder="password"
                   required
                   [disabled]="submitting | async"/>
            <mat-error *ngFor="let message of passwordErrors | async">error: {{message}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="submitting | async">Login</button>
        <mat-progress-bar *ngIf="submitting | async" class="mt1" mode="indeterminate"></mat-progress-bar>
        <p class="text-right mat-body" *ngIf="!submitting | async"><a routerLink="/forgot">Forgot Password?</a></p>
        <p color='accent' *ngFor="let message of generalErrors | async"
           class="mat-error mat-body-2 mat-background-warn text-center">
            {{message}}
        </p>
    </form>
</div>
