<div class="container mat-elevation-z1 p4">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container container-menu">
        <mat-form-field>
            <input type="text" matInput name="username" placeholder="username" required [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field>
            <input type="password" name="password" matInput placeholder="password" required [(ngModel)]="password"/>
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
    </form>
</div>
