<div class="container vertical-align-items center-items mt3">
    <div class="mat-elevation-z2 pt4 pr4 pl4 pb3">
        <h1 class="mat-headline">Register</h1>
        <p class="mat-body">Register a new account. Already have one? <a routerLink="/login">Sign in</a></p>
        <form #form="ngForm"
              [formGroup]="registerForm"
              (ngSubmit)="onSubmit(registerForm)"
              class="container container-menu">
            <mat-form-field>
                <input matInput placeholder="username" formControlName="username"/>
                <mat-error *ngIf="hasFieldErrors('username', 'required')">This field is required</mat-error>
                <mat-error *ngIf="hasFieldErrors('username', 'usernameAvailability')">A user with that username already
                    exists.
                </mat-error>
                <mat-error *ngFor="let error of ((errorResponse | async)?.error['username'] || [])">{{error}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput #password type="password" placeholder="password" formControlName="password"/>
                <mat-error *ngIf="hasFieldErrors('password', 'required')">This field is required</mat-error>
                <mat-error *ngFor="let error of ((errorResponse | async)?.error['password'] || [])">{{error}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput #passwordRepeat type="password" placeholder="password (repeat)"
                       formControlName="passwordRepeat"/>
                <mat-error *ngIf="hasFieldErrors('passwordRepeat', 'required')">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput #email type="email" placeholder="email" formControlName="email"/>
                <mat-error *ngIf="hasFieldErrors('email', 'required')">This field is required</mat-error>
                <mat-error *ngIf="email.value && hasFieldErrors('email', 'email')">Invalid email format</mat-error>
                <mat-error *ngFor="let error of ((errorResponse | async)?.error['email'] || [])">{{error}}</mat-error>
            </mat-form-field>
            <button type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="registerForm.pending || registerForm.invalid || (waitingForResponse | async)">Submit
            </button>
        </form>
        <mat-progress-bar *ngIf="registerForm.pending || (waitingForResponse | async)"
                          mode="indeterminate"></mat-progress-bar>
        <p color='accent'
           *ngIf="passwordRepeat.value && registerForm.errors && registerForm.errors['passwordComparison']"
           class="mat-error mat-body-2 mat-background-warn text-center">
            {{registerForm.errors['passwordComparison']}}
        </p>
    </div>
</div>
