<div class="container">
    <mat-toolbar class="mat-elevation-z6" color="primary">
        <a mat-button href="#">
            <strong><i class="fa fa-terminal"></i> SCOPE</strong>
        </a>
        <app-user-menu *ngIf="isAuthenticated | async"></app-user-menu>
        <app-organizations-select-list
            (onSelect)="setActiveOrganization($event)"
            [activeOrganization]="activeOrganization | async"
            [organizations]="organizations | async"
            *ngIf="isAuthenticated | async"></app-organizations-select-list>
        <span class="space-fill"></span>
        <a mat-button href="/docs" target="_blank">
            <strong>API Docs</strong>
        </a>
        <a mat-button href="https://github.com/tckerr/scope" target="_blank">
            <i class="fa fa-2x fa-github"></i>
            <span class="ml1"><strong>GitHub</strong></span>
        </a>
    </mat-toolbar>
</div>
